<div class ="flash_message">
  <%= flash[:notice] %>
</div>

<h1 class = "show_title_text">Title: <span class = "show_content"><%= @book.title %></span></h1>
    
<h1 class = "show_body_text">Body: <span class = "show_content"><%= @book.body %></span></h1>

<div class = "show_bottom">
<span><%= link_to "Edit", edit_book_path(@book.id) %></span><span class = "show_1">|</span>
<span><%= link_to "Back", '/books' %></span>
</div>